{
    "plugins": [
        "@ianvs/prettier-plugin-sort-imports",
        "prettier-plugin-svelte",
        "prettier-plugin-css-order"
    ],
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "importOrder": [
        "^svelte",
        "<THIRD_PARTY_MODULES>",
        "",
        "^\\$app/(.*)$",
        "^\\$env/(.*)$",
        "",
        "^\\$lib/components/(.*)$",
        "^\\$lib/stores/(.*)$",
        "^\\$lib/utils/(.*)$",
        "^\\$lib/(.*)$",
        "",
        "^[../]",
        "^[./]"
    ],
    "importOrderTypeScriptVersion": "5.0.0",
    "cssDeclarationSorterCustomOrder": [
        "all",
        "content",
        "quotes",
        "counter-reset",
        "counter-increment",
        "isolation",
        "container",
        "container-name",
        "container-type",
        "position",
        "inset",
        "inset-block",
        "inset-block-start",
        "inset-block-end",
        "inset-inline",
        "inset-inline-start",
        "inset-inline-end",
        "top",
        "right",
        "bottom",
        "left",
        "z-index",
        "display",
        "-webkit-flex",
        "flex",
        "flex-grow",
        "flex-shrink",
        "flex-basis",
        "flex-direction",
        "flex-flow",
        "flex-wrap",
        "grid",
        "grid-area",
        "grid-template",
        "grid-template-areas",
        "grid-template-rows",
        "grid-template-columns",
        "grid-row",
        "grid-row-start",
        "grid-row-end",
        "grid-column",
        "grid-column-start",
        "grid-column-end",
        "grid-auto-rows",
        "grid-auto-columns",
        "grid-auto-flow",
        "grid-gap",
        "grid-row-gap",
        "grid-column-gap",
        "gap",
        "row-gap",
        "column-gap",
        "place-content",
        "place-items",
        "place-self",
        "align-content",
        "-webkit-align-items",
        "align-items",
        "align-self",
        "-webkit-justify-content",
        "justify-content",
        "justify-items",
        "justify-self",
        "order",
        "float",
        "clear",
        "table-layout",
        "caption-side",
        "empty-cells",
        "-webkit-column-count",
        "-moz-column-count",
        "column-count",
        "-webkit-column-width",
        "-moz-column-width",
        "column-width",
        "-webkit-column-gap",
        "-moz-column-gap",
        "column-gap",
        "-webkit-column-rule",
        "-moz-column-rule",
        "column-rule",
        "column-rule-color",
        "column-rule-style",
        "column-rule-width",
        "-webkit-column-span",
        "column-span",
        "column-fill",
        "-webkit-box-sizing",
        "-moz-box-sizing",
        "box-sizing",
        "margin",
        "margin-block",
        "margin-block-start",
        "margin-block-end",
        "margin-inline",
        "margin-inline-start",
        "margin-inline-end",
        "margin-top",
        "margin-right",
        "margin-bottom",
        "margin-left",
        "aspect-ratio",
        "inline-size",
        "min-inline-size",
        "max-inline-size",
        "block-size",
        "min-block-size",
        "max-block-size",
        "width",
        "min-width",
        "max-width",
        "height",
        "min-height",
        "max-height",
        "padding",
        "padding-block",
        "padding-block-start",
        "padding-block-end",
        "padding-inline",
        "padding-inline-start",
        "padding-inline-end",
        "padding-top",
        "padding-right",
        "padding-bottom",
        "padding-left",
        "-webkit-overflow-scrolling",
        "overflow",
        "overflow-x",
        "overflow-y",
        "color",
        "-webkit-writing-mode",
        "writing-mode",
        "direction",
        "unicode-bidi",
        "font",
        "font-family",
        "font-size",
        "font-size-adjust",
        "font-stretch",
        "font-style",
        "font-variant",
        "font-variant-caps",
        "font-variant-numeric",
        "font-variant-ligatures",
        "font-weight",
        "-webkit-font-smoothing",
        "-moz-osx-font-smoothing",
        "font-smoothing",
        "font-display",
        "font-kerning",
        "font-optical-sizing",
        "font-palette",
        "font-synthesis",
        "font-variation-settings",
        "line-height",
        "text-align",
        "-moz-text-align-last",
        "text-align-last",
        "-webkit-text-decoration",
        "text-decoration",
        "text-decoration-color",
        "text-decoration-line",
        "text-decoration-style",
        "text-decoration-thickness",
        "text-underline-offset",
        "text-underline-position",
        "-webkit-text-emphasis",
        "text-emphasis",
        "text-emphasis-color",
        "text-emphasis-style",
        "text-emphasis-position",
        "text-rendering",
        "text-orientation",
        "text-combine-upright",
        "text-indent",
        "text-justify",
        "text-overflow",
        "text-shadow",
        "text-transform",
        "letter-spacing",
        "word-break",
        "word-spacing",
        "word-wrap",
        "white-space",
        "vertical-align",
        "-webkit-hyphens",
        "-moz-hyphens",
        "hyphens",
        "hyphenate-character",
        "hyphenate-limit-chars",
        "line-break",
        "overflow-wrap",
        "-moz-tab-size",
        "tab-size",
        "hanging-punctuation",
        "math-style",
        "math-depth",
        "list-style",
        "list-style-position",
        "list-style-type",
        "list-style-image",
        "-webkit-appearance",
        "-moz-appearance",
        "appearance",
        "background",
        "background-color",
        "background-image",
        "background-repeat",
        "background-position",
        "background-position-x",
        "background-position-y",
        "background-size",
        "-webkit-background-clip",
        "background-clip",
        "background-origin",
        "background-attachment",
        "background-blend-mode",
        "border",
        "border-block",
        "border-block-width",
        "border-block-style",
        "border-block-color",
        "border-inline",
        "border-inline-width",
        "border-inline-style",
        "border-inline-color",
        "border-color",
        "border-style",
        "border-width",
        "border-top",
        "border-top-color",
        "border-top-style",
        "border-top-width",
        "border-right",
        "border-right-color",
        "border-right-style",
        "border-right-width",
        "border-bottom",
        "border-bottom-color",
        "border-bottom-style",
        "border-bottom-width",
        "border-left",
        "border-left-color",
        "border-left-style",
        "border-left-width",
        "-webkit-border-radius",
        "border-radius",
        "border-start-start-radius",
        "border-start-end-radius",
        "border-end-start-radius",
        "border-end-end-radius",
        "border-top-left-radius",
        "border-top-right-radius",
        "border-bottom-right-radius",
        "border-bottom-left-radius",
        "-webkit-border-image",
        "-moz-border-image",
        "border-image",
        "border-image-source",
        "border-image-slice",
        "border-image-width",
        "border-image-outset",
        "border-image-repeat",
        "border-collapse",
        "border-spacing",
        "-webkit-box-decoration-break",
        "box-decoration-break",
        "outline",
        "outline-width",
        "outline-style",
        "outline-color",
        "outline-offset",
        "-webkit-box-shadow",
        "-moz-box-shadow",
        "box-shadow",
        "-webkit-mask",
        "mask",
        "-webkit-mask-image",
        "mask-image",
        "mask-mode",
        "mask-repeat",
        "mask-position",
        "-webkit-mask-clip",
        "mask-clip",
        "mask-origin",
        "mask-size",
        "mask-composite",
        "mask-type",
        "clip",
        "-webkit-clip-path",
        "clip-path",
        "image-rendering",
        "image-orientation",
        "image-resolution",
        "object-fit",
        "object-position",
        "fill",
        "fill-opacity",
        "fill-rule",
        "stroke",
        "stroke-width",
        "stroke-linecap",
        "stroke-linejoin",
        "stroke-dasharray",
        "stroke-dashoffset",
        "stroke-opacity",
        "marker",
        "marker-start",
        "marker-mid",
        "marker-end",
        "stop-color",
        "stop-opacity",
        "flood-color",
        "flood-opacity",
        "lighting-color",
        "shape-rendering",
        "color-interpolation",
        "color-interpolation-filters",
        "opacity",
        "visibility",
        "-webkit-filter",
        "filter",
        "-webkit-backdrop-filter",
        "backdrop-filter",
        "mix-blend-mode",
        "caret-color",
        "accent-color",
        "translate",
        "rotate",
        "scale",
        "-webkit-transform",
        "-moz-transform",
        "-ms-transform",
        "transform",
        "transform-origin",
        "-webkit-transform-style",
        "transform-style",
        "-webkit-perspective",
        "perspective",
        "perspective-origin",
        "-webkit-backface-visibility",
        "backface-visibility",
        "offset",
        "offset-path",
        "offset-distance",
        "offset-rotate",
        "offset-anchor",
        "-webkit-transition",
        "-moz-transition",
        "transition",
        "transition-delay",
        "transition-duration",
        "transition-property",
        "transition-timing-function",
        "-webkit-animation",
        "-moz-animation",
        "animation",
        "animation-name",
        "animation-duration",
        "animation-timing-function",
        "animation-delay",
        "animation-iteration-count",
        "animation-direction",
        "animation-fill-mode",
        "animation-play-state",
        "scroll-behavior",
        "scroll-margin",
        "scroll-margin-top",
        "scroll-margin-right",
        "scroll-margin-bottom",
        "scroll-margin-left",
        "scroll-padding",
        "scroll-padding-top",
        "scroll-padding-right",
        "scroll-padding-bottom",
        "scroll-padding-left",
        "scroll-snap-align",
        "-webkit-scroll-snap-type",
        "scroll-snap-type",
        "scroll-snap-stop",
        "scroll-timeline",
        "scroll-timeline-name",
        "scroll-timeline-axis",
        "overscroll-behavior",
        "overscroll-behavior-x",
        "overscroll-behavior-y",
        "scrollbar-width",
        "scrollbar-color",
        "scrollbar-gutter",
        "break-before",
        "break-after",
        "break-inside",
        "contain",
        "contain-intrinsic-size",
        "contain-intrinsic-width",
        "contain-intrinsic-height",
        "content-visibility",
        "will-change",
        "cursor",
        "pointer-events",
        "touch-action",
        "-webkit-user-select",
        "-moz-user-select",
        "-ms-user-select",
        "user-select",
        "resize",
        "-webkit-print-color-adjust",
        "print-color-adjust",
        "forced-color-adjust"
    ]
}
